*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #FFFAF0;
}
#main{
	width: 80%;
	height: auto;
	background-color: #2F4F4F;
	box-shadow: 10px 5px #D3D3D3;
	border-radius: 10px;
	margin: 20px auto;
	display: flex;
	flex-direction: column;
}
#title{
	font-family: 'summit', sans-serif;
	text-align: center;
	text-decoration: underline;
	padding: 30px 0;
	cursor: default;
	color: #FFFFFF;
}
#img-div{
	width: 400px;
	height: auto;
	background-color: #cccccc;
	margin: 20px auto;
}
#image{
	width: 360px;
	height: 300px;
	padding: 20px;
}
#img-caption{
	font-family: 'summit', sans-serif;
	font-size: 18px;
	padding: 0 20px;
}
#tribute-info{
	font-family: 'summit', sans-serif;
	font-size: 18px;
	color: #FFFFFF;
	margin: 30px 50px;
	padding: 30px 50px;
	text-indent: 100px;
	line-height: 2;
}
#tribute-link{
	color: #FFFFFF;
	text-decoration: none;
}
#tribute-link:hover{
	color: #0000FF;
	text-decoration: underline;
}
/*Responsive*/
@media only screen and (max-width: 600px) {
  #main{
	width: 90%;
	}
	#tribute-info{
	margin: 20px 30px;
	padding: 20px 30px;
	text-indent: 25px;
	line-height: 2;
	}
}
/*By: PASSI, Froilan N.*/